* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100dvh;
    font-family: 'National Park', sans-serif;
    
    --_g: #0000 90deg, var(--secondary-transparent) 0;
    background:
        conic-gradient(from 116.56deg at calc(100%/3) 0   , var(--_g)),
        conic-gradient(from -63.44deg at calc(200%/3) 100%, var(--_g))
        var(--primary);
    background-size: 150px 150px;

    color: var(--text);
}

p {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.heading {
    padding: 0 20px;
}

.regular-glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.centeredHV {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px 32px;
    height: 100%;
}

.layout-container {
    display: flex;
    align-items: center;
    height: 100dvh;
    padding: 0 1.5dvw;
    gap: 1.5dvw;
}

.main-area {
    flex: 1;
    height: 90dvh;
    padding: 0 20px;
    overflow-y: scroll;
}

.main-area__section {
    display: flex;
    flex-direction: column;
}

.main-area__section * {
    margin: 0;
}

.main-area__icon {
    margin: 16px auto;
}

.main-area__section h1 {
    margin: 12px 0;
}

.main-area__section p {
    margin: 8px;
}

button {
    font-family: 'National Park', sans-serif;
    background-color: rgba(74, 45, 36, 0.8);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9em;
    transition: var(--transition);
    cursor: pointer;
    border: none;

    display: flex;
    align-items: center;
    gap: 8px;

    text-align: center;
}

button:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

a {
    text-decoration: none;
    color: var(--text_highlight);
    transition: var(--transition);
}

a:hover {
    filter: brightness(0.8);
}

a:active {
    filter: brightness(0.6);
}

.log-in__container {
    display: flex;
    justify-content: center;

    margin-top: 16px;
}

.main-area__about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.main-area__about-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
    width: 33%;
    margin: 16px;
}

.som-stat-box {
    padding: 8px 32px;
    width: 100%;
    transition: var(--transition);
}


.som-stat-box.active {
    padding: 80px 32px;
}

.main-area__about-chart {
    width: 66%;
    height: 100% !important;
}

#mainStatsChart {
    width: 100% !important;
    height: 100% !important; 
}