:root {
  --nunnery: #fff5e2;
  --primary: #e2c39c;
  --secondary: #d6a77a; --secondary-transparent: rgba(214, 166, 122, 0.15); --secondary-complimentary: #7aa9d6;
  --accent: #c69c6c;
  --emphasis: #af7a4b;
  --highlight: #895b3e;
  --text: #4a2d24;
  --text_highlight: #6B0B2B;

  --radius: 16px;
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  --transition: all 0.2s ease;
}